NEXT_PUBLIC_SUPABASE_URL=https://fdtgtawwdbkprzqtlree.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkdGd0YXd3ZGJrcHJ6cXRscmVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzNjM2NzUsImV4cCI6MjEwNTkzOTY3NX0.bGAG6G-rUOGBiKmW_AHRU-wtA0XjDrUt6e7L9Qo7zY4